@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body starts here  */

body{
    display: flex;
    background-color:  rgb(225, 240, 247);
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Body ends here  */

/* Container starts here  */
.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Serif", serif;
    font-weight: 600;
    max-width: 650px;
    background-color: white;
    border-radius: 1rem;
}
/* .containerends here  */

/* Left-col starts here  */
.left-col{
    height: 25rem;
    width: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(234, 85%, 45%);
    color: hsl(221, 100%, 96%);
    align-items: center;
    border-radius: 1rem;

}

.result{
    margin: 2rem auto 1rem auto;
}

.result h2{
    color: hsl(252, 50%, 72%);
}

.percent{
     margin: 0.5rem auto 2rem auto;
     background: linear-gradient(to bottom, hsl(241, 81%, 54%), hsl(252, 73%, 54%));
     /* background-color: rgb(24, 4, 112); */
     height: 140px;
     width: 140px;
     border-radius: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
    justify-content: center
}

.percent .hundred{
    color: hsl(252, 50%, 72%);
}

.great{
    margin-top: 5rem auto 2rem auto;
}

.outcome{
    margin: 1rem auto 3rem auto;
    justify-content: center;
    text-align: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    color: hsl(252, 50%, 72%);
}
/* .left-colends here  */

/* .right-col starts here  */

.right-col{
    height: 25em;
    width: 30em;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    /* border-radius left: none; */
    padding: 2rem;
}

.summary h2{
    display: left;
    margin: 2rem 11rem 0rem 0rem;
    
}

.reaction{
    height: 3rem;
    width: 18rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: hsl(0, 55%, 96%);
    border-radius: 0.7rem;
    margin: 1rem auto 1rem auto;
    
}

.reaction .image{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.reaction .image p{
    color: hsl(0, 100%, 67%);
}

.reaction .value{
    display: flex;
    justify-content: space-between;
    padding: 1rem;  
}

.reaction .value .score p{
    display: flex;
}

.reaction .value p{
    opacity: 0.5;
}

/* Reaction ends here */

/* memory styling start here */

.Memory{
    height: 3rem;
    width: 18rem;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 55%, 96%);
    border-radius: 0.7rem;
    margin: 0rem auto 1rem auto;
}

.Memory .image{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Memory .image p{
    color: hsl(39, 100%, 56%);
}

.Memory .value {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Memory .value .score p{
    display: flex;
}

.Memory .value p{
    opacity: 0.5;
}

/* Memory ends here */

/* verbal starts here  */

.Verbal{
    height: 3rem;
    width: 18rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: hsl(0, 55%, 96%);
    border-radius: 0.7rem;
    margin: 0rem auto 1rem auto;
}

.Verbal .image{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Verbal .image p{
    color: hsl(166, 100%, 37%)
}

.Verbal .value {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Verbal .value .score p{
    display: flex;
}

.Verbal .value p{
    opacity: 0.5;
}

/* vebal ends here  */

/* visual starts here  */

.Visual{
    height: 3rem;
    width: 18rem;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: hsl(0, 55%, 96%);
    border-radius: 0.7rem;
    margin: 0rem auto 0rem auto;
}

.Visual .image{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Visual .image p{
    color: hsl(234, 85%, 45%)
}

.Visual .value {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.Visual .value .score p{
    display: flex;
}

.Visual .value p{
    opacity: 0.5;
}
/* visual ends here  */

/* continue starts here  */

button{
    width: 18rem;
    height: 3rem;
    border-radius: 7rem;
    border: none;
    justify-content: center;
    background-color: hsl(224, 30%, 27%);
    color: white;
    margin: 1rem auto 3rem auto;
    align-items: center;
}

.button .Continue{
    padding: 1rem auto 1rem auto;
    font-family: "PT Serif", serif;;
    font-size: large;
}

.button :hover{
    cursor: pointer;
    background-color: blue;
    color: white;
    transition: 0.2s;
}

/* Media Queries Starts Here */


@media (min-width: 320px) and (max-width: 480px) {

    .body{
        padding: 1rem 0;
        height: auto;
    }

    .container {
        flex-direction: column;
        width: 95%;
        /* border-radius: 0px 0px 30px 30px; */
        /* margin: 5rem;   */
    }

    .left-col{
        width: 99%;
        border-radius: 20px 20px;
        margin-top: 17rem;
        /* padding: 40px 30px;
         border-radius: 15px 15px 30px 30px;
         */
    }

    .right-col{
         width: 99%;
    }

    .reaction{
         margin-left: 1rem;
        margin-right: 1rem;
    }

    .Memory{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .Verbal{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .Visual{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
